@import "../../utilities";
.navbar-light {
  padding-left: 0;
  padding-right: 0;
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $mainColor;
        font-family: "Calibri";
        font-size: 1.2em;
        &.dropdown-toggle {
          &::after {
            margin-left: 5px;
            background: url("/imgs/navBar/navArrow.png");
            content: "";
            width: 8px;
            height: 7px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
            vertical-align: 0;
          }
        }
      }
      .dropdown-menu {
        .dropdown-item {
          padding: 0.25rem 0.5rem;
          transition: all 0.35s ease-in-out;
          font-family: "Calibri";
          color: $mainColor;
          &:hover {
            padding-left: 1.5rem;
            padding-right: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .navbar-light {
    padding-left: 1rem;
    padding-right: 1rem;
    .navbar-brand {
      display: block;
      img {
        height: 50px;
      }
    }
  }
}
