@font-face {
  font-family: "Optima";
  src: url("./fonts/Optima.eot");
  src: url("./fonts/Optima.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Optima.woff2") format("woff2"),
    url("./fonts/Optima.woff") format("woff"),
    url("./fonts/Optima.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SegoeUI.eot");
  src: url("./fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("./fonts/SegoeUI.woff2") format("woff2"),
    url("./fonts/SegoeUI.woff") format("woff"),
    url("./fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("./fonts/SegoeUI-Bold.eot");
  src: url("./fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/SegoeUI-Bold.woff2") format("woff2"),
    url("./fonts/SegoeUI-Bold.woff") format("woff"),
    url("./fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("./fonts/Calibri.eot");
  src: url("./fonts/Calibri.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Calibri.woff2") format("woff2"),
    url("./fonts/Calibri.woff") format("woff"),
    url("./fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
